@{
    ViewData["Title"] = "Mess Members";
}


<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Cafeteria Bill</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container-fluid" id="cafe-bill">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-6">
            <div class="white-box" data-bind="with: SelMessMember">
                <h3 class="box-title">Member Info</h3>
                <label>BA: </label> <span data-bind="text: bnumb"></span><br />
                <label>Rank: </label> <span data-bind="text: rank"></span><br />
                <label>Name: </label> <span data-bind="text: name"></span><br />
                <label>Unit: </label> <span data-bind="text: unit"></span><br />
                <label>Contact: </label> <span data-bind="text: contactNo"></span><br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary pull-right" style="float:right;" data-bind="click: AddCafeBilling">Add</button>
            <div class="white-box">
                <h3 class="box-title">Cafeteria Bill</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Date</th>
                                <th class="border-top-0">Amount</th>
                                <th class="border-top-0">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: CafeBills">
                            <tr>
                                <td data-bind="text: $index() + 1"></td>
                                <td data-bind="text: date"></td>
                                <td data-bind="text: price"></td>
                                <td>
                                    <a data-bind="click: $root.EditCafeBilling" class="btn btn-white small-btn" aria-expanded="false"><i class="fa fa-pencil-alt" aria-hidden="true"></i> Edit</a>
                                    <a data-bind="click: $root.DeleteCafeBill" class="btn btn-white small-btn" aria-expanded="false"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cafebilling" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Cafeteria Bill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal form-material" method="POST" id="member-form" data-bind="submit: SaveCafeBill">
                    <div class="modal-body">

                        <!-- ko with: SelCafeBill-->
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Date</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="date" data-bind="value : date" name="date" class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Amount</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="number" data-bind="textInput: price" name="price" class="form-control p-0 border-0">
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" style="color: #fff !important;" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/js/viewmodels/cafeBillViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/cafeBill.js" asp-append-version="true"></script>
        <script src="~/js/models/messMember.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/viewmodels/cafeBillViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/cafeBill.js" asp-append-version="true"></script>
        <script src="~/js/models/messMember.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        loggedInUserGuard();
        $(document).ready(function () {
            var viewModel = new CafeBillViewModel();
            ko.applyBindings(viewModel, document.getElementById('cafe-bill'));
            var memberId = getParamValueFromUrl('memberid');
            viewModel.SelMemberId(memberId);
        });
    </script>
}