@{
    ViewData["Title"] = "Mess Members";
}


<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Mess Members</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container-fluid" id="member-index">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary pull-right" style="float:right;" data-bind="click: AddNewMemberClicked">Add New Mess Member</button>
            <div class="white-box">
                <h3 class="box-title">Mess Members</h3>
                <div id="accordion">
                    <!-- ko foreach: MessMembers-->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-bind="attr : {href: '#collapse1' + $index()}" aria-expanded="true">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <span data-bind="text: name"></span>
                                <div class="collapse-action-btn">
                                    <a data-bind="click: $root.EditMember" class="btn btn-blue small-btn pull-right" aria-expanded="false"><i class="fa fa-edit" aria-hidden="true"></i> Edit Member</a>
                                    <a data-bind="click: $root.DeleteMember" class="btn btn-danger small-btn pull-right" aria-expanded="false"><i class="fa fa-trash" aria-hidden="true"></i> Delete Member</a>
                                </div>
                                
                            </h5>
                        </div>

                        <div data-bind="attr: {id: 'collapse1'+$index() } " class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div>
                                    <img class="pro-pic-2" data-bind="attr: {src: imagePath}"  id="img-0" style="transform: rotate(0deg)">
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered text-nowrap">
                                        <colgroup>
                                            <col span="1" style="width: 20%;">
                                            <col span="1" style="width: 80%;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>BA No.</td>
                                                <td data-bind="text: bnumb"></td>
                                            </tr>
                                            <tr>
                                                <td>Name</td>
                                                <td data-bind="text: name"></td>
                                            </tr>
                                            <tr>
                                                <td>Rank</td>
                                                <td data-bind="text: rank"></td>
                                            </tr>
                                            <tr>
                                                <td>Appt</td>
                                                <td data-bind="text: appt"></td>
                                            <tr>
                                                <td>Unit</td>
                                                <td data-bind="text: unit"></td>
                                            </tr>
                                            <tr>
                                                <td>Contact No</td>
                                                <td data-bind="text: contactNo"></td>
                                            </tr>
                                            <tr>
                                                <td>Date of entry</td>
                                                <td data-bind="text: moment(dateOfEntry).format('MMMM Do YYYY')"></td>
                                            </tr>
                                            <tr>
                                                <td>Maritial Status</td>
                                                <td data-bind="text: maritialStatus"></td>
                                            </tr>
                                            <tr>
                                                <td>Member Status</td>
                                                <td data-bind="text: memberStatusString"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/js/viewmodels/messMemberViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/messMember.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/viewmodels/messMemberViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/messMember.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        loggedInUserGuard();
        $(document).ready(function () {
            var messMemberVM = new MessMemberViewModel();
            ko.applyBindings(messMemberVM, document.getElementById('member-index'));
            messMemberVM.GetMessMembers();
        });
    </script>
}