@{
    ViewData["Title"] = "Dashboard";
}


<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container-fluid" id="member-dashboard">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <img src="~/img/placeholder-cover.jpg" alt="Alternate Text" style="max-height: 640px; width: 100%;" />
            </div>
        </div>
    </div>

    <div class="row">
        <!-- .col -->
        <div class="col-md-12 col-lg-8 col-sm-12">
            <div class="card white-box p-0">
                <div class="card-body">
                    <h3 class="box-title mb-0">Notice Board</h3>
                </div>
                <div class="comment-widgets">
                    <!-- Comment Row -->
                    <!-- ko foreach: Notices-->
                    <div class="d-flex flex-row comment-row p-3 mt-0">
                        <div class="p-2"><i class="fa fa-info-circle"></i></div>
                        <div class="comment-text ps-2 ps-md-3 w-100">
                            <h5 class="font-medium" data-bind="text: title"></h5>
                            <span class="mb-3 d-block notice-text" data-bind="text: message"></span>
                            <div class="comment-footer d-md-flex align-items-center">
                                <div class="text-muted fs-2 ms-auto mt-2 mt-md-0" data-bind="text: moment(date()).format('MMMM Do YYYY')"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card white-box p-0">
                <div class="card-heading">
                    <h3 class="box-title mb-0">Committee Members</h3>
                </div>
                <div class="card-body">
                    <ul class="chatonline">
                        <!-- ko foreach: Members-->
                        <li>
                            <a class="d-flex align-items-center">
                                <img data-bind="attr : {src : imagePath}" alt="user-img" class="pro-pic">
                                <div class="ms-2">
                                    <h5 data-bind="text: rankWithName"></h5>
                                    <span data-bind="text: appt"></span><br />
                                    <span>Contact No: <span data-bind="text: contactNo"></span></span>
                                </div>
                            </a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/js/viewmodels/dashboardViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/notice.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/viewmodels/dashboardViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/notice.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        loggedInUserGuard();
        $(document).ready(function () {
            var viewModel = new DashboardViewModel();
            ko.applyBindings(viewModel, document.getElementById('member-dashboard'));
            viewModel.GetNotices();
            viewModel.GetMembers();
        });
    </script>
}