@{
    ViewData["Title"] = "Mess Members";
}


<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Extra Messing</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container-fluid" id="member-index">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Members</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">BA No</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Rank</th>
                                <th class="border-top-0">Date of entry</th>
                                <th class="border-top-0">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: MessMembers">
                            <tr>
                                <td data-bind="text: $index() + 1"></td>
                                <td data-bind="text: bnumb"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: rank"></td>
                                <td data-bind="text: moment(dateOfEntry).format('MMMM Do YYYY')"></td>
                                <td>
                                    <a data-bind="click: $root.GenerateMonthlyBill" class="btn btn-green text-white small-btn" aria-expanded="false"><i class="fa fa-print" aria-hidden="true"></i> Generate Monthly Bill</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/js/viewmodels/messMemberViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/messMember.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/viewmodels/messMemberViewModel.js" asp-append-version="true"></script>
        <script src="~/js/models/messMember.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        loggedInUserGuard();
        $(document).ready(function () {
            setSideBarMenuActive(pageTypes.monthlybill);
            var messMemberVM = new MessMemberViewModel();
            ko.applyBindings(messMemberVM, document.getElementById('member-index'));
            messMemberVM.GetMessMembers();
        });
    </script>
}