@{
    ViewData["Title"] = "Add Bazar Entry";
}


<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Add Bazar Entry</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container-fluid" id="inventory-add">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card ms-input">
                <div class="card-body">
                    <form class="form-horizontal form-material" method="POST" id="inventory-form" data-bind="submit: AddInventoryItem">
                        <!-- ko with: SelInventoryItem-->
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Date</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="date" name="date" class="form-control p-0 border-0" data-bind="value: date">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Item Name</label>
                            <div class="col-md-12 border-bottom p-0">
                                <select data-bind='options: $root.InventoryItemTypes, optionsCaption: "Select Item", optionsText: "name", optionsValue : "itemTypeId", value: itemType' class="form-select shadow-none p-0 border-0 form-control-line" name="type">
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group mb-4">
                            <label class="col-md-12 p-0">Unit Price</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="text" placeholder="123 456 7890"  class="form-control p-0 border-0">
                            </div>
                        </div>*@
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Qty</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="text" data-bind="textInput: quantity" name="quantity" class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Unit Price</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="text" data-bind="textInput: unitPrice" name="unitPrice" class="form-control p-0 border-0">
                            </div>
                        </div>
                        @*<div class="form-group mb-4">
                            <label class="col-sm-12">Total Price</label>
                            <input type="text" name="name" value="" />
                        </div>*@
                        <!-- /ko -->
                        <div class="form-group mb-4">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/js/viewmodels/inventoryviewmodel.js" asp-append-version="true"></script>
        <script src="~/js/models/inventoryItem.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/viewmodels/inventoryviewmodel.js" asp-append-version="true"></script>
        <script src="~/js/models/inventoryItem.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            var inventoryVM = new InventoryViewModel();
            ko.applyBindings(inventoryVM, document.getElementById('inventory-add'));
            inventoryVM.GetInventoryItemTypes();
            var inventoryId = getParamValueFromUrl('inventoryId');
        });
    </script>
}